$pad: .8rem;
.employees{
    margin-top: 2em;
    p{
        font-size: 1.25em;
    }
}
.employeesContainer{
    width: 100%;
    min-width: 360px;
    margin: 0 auto;
    text-align: center;
    .title{
        width: calc(50%);
        text-align: center;
        display: inline-block;
    }
}
.employeeRow{
    margin: 1em auto 0;
    width: 360px;
    vertical-align: middle;
    label:first-child{
        font-size: 1.3em;
        text-transform: uppercase;
        color: $oil;
        margin-bottom: 1em;
    }
    .Dropdown-root{
        width: 100%;
        margin-bottom: .5em;
        display: block;
    }
}

.employee{
    display: inline-block;
    margin: 0.5em 1em;
    font: $eggshell;
    text-align: center;
}
input.search{
    max-width: 30em;
    margin: 0 auto;
    font-size: 1em;
}

@media(max-width:$mobile-width){
    .search{
        min-width: calc(360px - 2em);
    }
    .employeeRow{
        padding-right: 1em;
    }
}
