$pad: .8rem;
.employeesContainer{
    width: 100%;
    min-width: 360px;
    margin: 0 auto;
    text-align: center;
    .title{
        width: calc(50%);
        text-align: center;
        display: inline-block;
    }
}
.employeeRow{
    min-width: 360px;
    margin: 0 auto .5em auto;
    vertical-align: middle;
    .Dropdown-root{
        width: calc(50%);
        margin-bottom: 0;
        display: inline-block;
    }
}

.employee{
    display: inline-block;
    margin: 0.5em 1em;
    font: $eggshell;
    text-align: center;
}
input.search{
    max-width: 30em;
    margin: 0 auto;
    font-size: 1em;
}

@media(max-width:$mobile-width){
    .search{
        min-width: calc(360px - 2em);
    }
    .employeeRow{
        padding-right: 1em;
    }
}
