.container{
    position: relative;
    margin: auto auto;
    padding: 2em 1em;
    height: 100%;
    width: 100%;
    display:block;
}
.border{
  margin: 0 auto;
  position: relative;
  height: 6em;
  width: 6em;
  border-style: solid;
  border-radius: 15%;
  background-color: rgba(0,140,186,0.7);
}

.clock{
  position: absolute;
  height: 80%;
  width: 80%;
  border-style: solid;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.pivot-point{
  position: absolute;
  height: 7%;
  width: 7%;
  border-style: solid;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: $oil;
}

.minute-hand{
  position: absolute;
  width: 6%;
  height: 40%;
  background-color: black;
  border-radius: 25%;
  left: 47%;
  top: 9%;
}

.hour-hand{
  position: absolute;
  width: 5%;
  height: 30%;
  background-color: black;
  border-radius: 25%;
  left: 32%;
  top: 43%;
  transform: rotate(67deg)
}

.organization{
    font-family: Tohoma, Geneva, sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 90em;
    width: 100%;
}
