.register{
    margin: 0 auto;
    position: relative;
    max-width: 360px;
    padding: 0 1em;
    input {
       height: 37px;

       padding: 0 5px;
   }
}

.message {
    top: -10px;
    $alert-font-color: #B33A3A;
    @include alert($bg: #E4252D);
    text-align: center;
    display: none;
}


@media screen and (min-width: 480px) {
    .register {
        @include grid-column(
            $columns: 5,
            $center: true
        );
        input {
            min-width: 250px;
        }

    }
}
