.staffContainer{
    text-align: center;
    .staffInfo{
        display: inline-block;
        border: #008CBA solid 2px;
        background-color: #008CBA;
        opacity: 0.75;
        cursor: pointer;
        padding: 1em;
        color: $white-smoke;
        margin: 1em .5em 0;
        min-width: 10em;
        text-align: center;
        transition: 0.5s opacity;
        font-size: 1.2em;
        &:hover{
            transition: 1s opacity;
            opacity: (1);

        }
    }
}
