main {
    // @include grid-row();
    // height: 800px;
    // background-color: rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.app {
    min-height: 100%;
    position: relative;
    padding: 60px 0 80px 0;
    background-color: #DDD;
}

.home {
    position: inherit;
    // @include vertical-align-container;
    // height: 500px;
    text-align: center;
    margin: 0 auto 0 auto;
    display: block;
    font-size: 1.5em;
   //  background-color: black;
}

.authenticationButtons {
    // @include vertical-align;
    font-size: 1.5em;
    margin: 0 auto 0 auto;
    /* background-color: red; */
    display: block;

}
button {
    margin-bottom: 0;
}
.about {

    p {
        @include grid-column(
        $columns: 6,
        $center: true
        );
    }
}
