.app {
    min-height: 100%;
    position: relative;
    padding: 60px 0 80px 0;
    background-color: #DDD;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 7vh 0;
}

.home {
    position: inherit;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 1.5em;
}

.authenticationButtons {
    font-size: 1.5em;
    margin: 0 auto;
    a{
        color: white;
    }

}
button {
    margin-bottom: 0;
}
.about {
    p {
        @include grid-column(
        $columns: 6,
        $center: true
        );
    }
}

.regContainer{
    padding: 1em;
    margin: 0 auto;
    display: inline-block;
}

.signinContainer
{
    padding: 1em;
    margin: 0 auto;
    display: inline-block;
}
@media(max-width:$mobile-width){
    main{
        padding: 2.5vh 0;
    }
}
