// @import '../../foundation/scss/normalize.scss';
// @import '../../foundation/scss/foundation.scss';
// @import '../../foundation/scss/foundation/components/grid.scss';

.timesheetRow{
    @include grid-row();
    .timesheetInput{
        @include grid-column(3.5);
        margin-bottom: 0;
    }
}

.heading{
    background-color: $white-smoke;
    border: black solid 1px;
    @include grid-column(3.5);
}

.newRowContainer{
    @include grid-row();
}

.delButton{
    @include button(
        $padding: .4rem,
        // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
        $bg: #f04124,
        // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
        $radius: 100px
    );
}

.addButton{
    @include button(
        $padding: 1rem,
        // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
        // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
        $radius: 100px
    );
    @include grid-column(
        $columns: 1,
        $offset: 5.5
    );
}

.meta{
    @include grid-row();
    .metaInfo {
        @include grid-column(4);
    }
}

.metaHeading{
    @include grid-column(4);
    background-color: $white-smoke;
    border: black solid 1px;
}
