$pad: .8rem;

.timesheetPage{
    max-width: 60em;
    margin: 0 auto;
    padding-left: 1em;
    input{
        margin: 0;
        vertical-align: middle;
    }
    .delete{
        // transition: 0.5s backgound-color;
        &:active{
            background-color: #F04124;
            transition: 2s 0.5s background-color;
        }
    }

}
.meta{
    .metaInfo {
        width: calc(33% - #{$pad});
        font-size: 1.1em;
        display: inline-block;
    }
}

.metaHeading{
    font-size: 1.5em;
    width: calc(33% - #{$pad});
    display: inline-block;


}

.fields{
    margin: 5vh 0;
    .headings{
        line-height: 1;
    }
}

.heading{
    font-size: 1.5em;
    width: calc(33% - #{$pad});
    display: inline-block;
}

.timesheetRow{
    vertical-align: middle;

    .timesheetInput{
        width: calc(33% - #{$pad});
        margin-bottom: 0;
        display: inline-block;
    }
}

.newRowContainer{
    text-align: center;
    .button {
        margin: 1em .5em;
    }
}

.delButton{
    background-color: #f04124;
    margin: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: .25em .7em;
    border-radius: 10%;
    margin-left: .1em;
    color: $white-smoke;
}
