// @import '../../foundation/scss/normalize.scss';
// @import '../../foundation/scss/foundation.scss';
// @import '../../foundation/scss/foundation/components/grid.scss';

.timesheetsContainer{
    @include grid-row();
    .timesheet{
        @include grid-column(4);
        height: 100px;
        border: white solid 1px;
        background-color: #17A555
    }
}

.newTimesheet{
    @include grid-column(
        $columns: 1,
        $offset: 5.5
    );
}
