// @import '../../foundation/scss/normalize.scss';
// @import '../../foundation/scss/foundation.scss';
// @import '../../foundation/scss/foundation/components/grid.scss';
.timesheetsPage{
    .row{
        text-align: center;
    }
}


.timesheetsContainer{
    text-align: center;
    .timesheet{
        display: inline-block;
        border: #008CBA solid 2px;
        background-color: rgba(#008CBA,0.75);
        cursor: pointer;
        padding: 1em;
        color: $white-smoke;
        margin: 1em .5em 0;
        min-width: 15em;
        transition: .5s background-color;
        &:hover{
            background-color: #008CBA;
        }
        .engagement{
            font-size: 4em;
            line-height: 1;
        }
        .info{
            div{
                display: inline-block;
            }
            & > :last-child{
                padding-left: 1em;
            }
        }
    }
}
.newTimesheet{
    margin: 0 auto;
}
