$pad: .8rem;

.timesheetPage{
    max-width: 60em;
    margin: 0 auto;
    padding-left: 1em;
    input{
        margin: 0;
        vertical-align: middle;
    }
    .delete{
        transition-duration: 1s;
        &:active{
            background-color: #F04124;
            transition: 2s background-color;
        }
    }

}
.message {
    top: -10px;
    max-width: 360px;
    margin: 0 auto;
    $alert-font-color: #B33A3A;
    @include alert($bg: #E4252D);
    text-align: center;
    display: none;
}

.meta{
    .metaInfo {
        width: calc(33% - #{$pad});
        font-size: 1.1em;
        display: inline-block;
    }
}

.metaHeading{
    font-size: 1.5em;
    width: calc(33% - #{$pad});
    display: inline-block;
}

.fields{
    margin: 5vh 0;
    text-align: center;
    .headings{
        line-height: 1;
    }
}

.heading{
    font-size: 1.5em;
    width: calc(33% - #{$pad});
    display: inline-block;
}

.timesheetRow{
    vertical-align: middle;

    .timesheetInput{
        width: calc(33% - #{$pad});
        margin-bottom: 0;
        display: inline-block;
    }
}

.newRowContainer{
    text-align: center;
    .button {
        margin: 1em .5em;
    }
}

.delButton{
    background-color: #f04124;
    margin: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: .25em .7em;
    border-radius: 10%;
    margin-left: .1em;
    color: $white-smoke;
}

@media(max-width:$mobile-width){
    .m-timesheetRow{
        border: $shades-of-blue solid 2px;
        background-color: rgba(#008CBA,0.75);
        cursor: pointer;
        padding: 1em;
        color: $white-smoke;
        margin: 1em 0.5em 0 0.5em;
        max-width: 19.6em;
        min-width: 15em;
        width: 100%;
        text-align: center;
        display: inline-block;
        .date{
            font-size: 1.4em;
        }
        .duration{
            font-size: 1.4em;
        }
        .service{
            font-size: 3em;
            line-height: 1;
        }
        &:hover{
            background-color: #008CBA;
        }
        .timesheetItem{
            text-align: center;
        }
    }

    .timesheetPage{
        padding-left: 0;
    }
    .fields{
        margin: 0;
    }
    .metaContainer{
        .m-timesheetMeta{
            background-color: $shades-of-blue;
            display: block;
            color: $white-smoke;
            width: 100%;
            text-align: center;
            margin-bottom: 1em;
            .date{
                font-size: 1.1em;
                margin-bottom: .2em;
            }
            .engagement{
                font-size: 2em;
                line-height: 1;
            }
            .text{
                font-size: 1em;
                margin-bottom: 0;
                display: inline-block;
            }
        }
        .delete{
            max-width: calc(33% - #{$pad})
        }
        .range{
            text-align: center;
        }
        .metaInfo{
            max-width: 19.6em;
            min-width: 15em;
            width:100%;
            margin: 0 auto;
        }
    }

    .m-timesheeteditrow{
        text-align: center;
        margin: 1em 0.5em 0 0.5em;
        .delButton{
            border-radius: 0px;
            padding: 1rem 2rem 1.0625rem 2rem;
            vertical-align: top;
            line-height: normal;
            margin: 0;
        }
        input{
            margin-bottom: 0.5em;
        }
        .control{
            margin: 1em auto 0;
            display: block;
            div{
                margin: 0 0.5em;
            }
        }
    }
}
