/* Normalize across all browsers */ html,body,div,span,object,a,h1,h2,h3,h4,h5,h6,p,blockquote,em,img,strong,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,a{margin:0;padding:0;border:0;vertical-align:baseline;background:transparent}
/* Add IE support for HTML5 tags */ article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
/* Use the better CSS3 box model */ *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* Style links like GUI elements */ a,a:hover,input,button{cursor:pointer;text-decoration:none}
/* Should be the fucking default */ html{width:100%;height:100%;}
