body{
    height: 100%;
    width: 100%;
    min-width: 360px;
}
#start{
    height: 100%;
    width: 100%;
}

input[readOnly]{
    background-color: white !important;
}

input[disabled]{
    background-color:$primary-color !important;
    color: white !important;
    // -webkit-opacity: 1;
    //-webkit-text-fill-color: rgba(255, 255, 255, 1)
}
