body{
    height: 100%;
    width: 100%;
    min-width: 360px;
}
#start{
    height: 100%;
    width: 100%;
}
input[disabled]{
    background-color:$primary-color !important;
    color:$eggshell !important;}
